@import '../../globalstyles/variables.scss';

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    .message {
        color: $color-light_background;
        font-size: 1.5rem;
        font-weight: 600;
    }
}