@import "../../globalstyles/variables.scss";

.form {
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .maincontainer {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(223, 221, 221);
    border-radius: 8px;
    margin: 1rem 6rem;
    padding: 2.5rem 0;

    h2 {
      transform: translate(1.5rem, 0);
      margin: 1rem 0;
    }

    .personalinfo {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .container_1 {
        padding: 0 1rem;
        margin: 1rem 0.5rem;
        width: 100%;

        .item {
          label {
            display: block;
            font-weight: 500;
            font-size: 1rem;
            margin-bottom: 0.5rem;
          }

          input {
            font-size: 1rem;
            width: 100%;
            padding: 0.5rem 0.8rem;
            margin-bottom: 0.5rem;
            border: 1px solid rgb(215, 212, 212);
            border-radius: 8px;

            &:focus {
              outline: none;
            }
          }

          p {
            color: $color-error_color;
          }
        }

        select {
          font-size: 1rem;
          width: 100%;
          padding: 0.5rem 0.8rem;
          margin-bottom: 0.5rem;
          border: 1px solid rgb(215, 212, 212);
          border-radius: 8px;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .education {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .container_2 {
        padding: 0 1rem;
        margin: 1rem 0.5rem;
        width: 100%;

        .item {
          label {
            display: block;
            font-weight: 500;
            font-size: 1rem;
            margin-bottom: 0.5rem;
          }

          input {
            font-size: 1rem;
            width: 100%;
            padding: 0.5rem 0.8rem;
            margin-bottom: 0.5rem;
            border: 1px solid rgb(215, 212, 212);
            border-radius: 8px;

            &:focus {
              outline: none;
            }
          }

          p {
            color: $color-error_color;
          }
        }
      }
    }

    .contactdetails {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .container_3 {
        padding: 0 1rem;
        margin: 1rem 0.5rem;
        width: 100%;

        .item {
          label {
            display: block;
            font-weight: 500;
            font-size: 1rem;
            margin-bottom: 0.5rem;
          }

          input {
            font-size: 1rem;
            width: 100%;
            padding: 0.5rem 0.8rem;
            margin-bottom: 0.5rem;
            border: 1px solid rgb(215, 212, 212);
            border-radius: 8px;

            &:focus {
              outline: none;
            }
          }

          p {
            color: $color-error_color;
          }
        }
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem 0;

      button {
        width: 20%;
        padding: 0.4rem;
        background: transparent;
        font-size: 1.4rem;
        background-color: $color-primary;
        color: #fff;
        border-radius: 8px;

        &:hover {
          background-color: white;
          color: $color-primary;
          border: 2px solid $color-primary;
        }
      }
    }
  }
}